@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@200&family=Montserrat:ital,wght@1,200&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    font-family:'Alexandria', sans-serif;;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
/* header styling */
.contain-header {
    width: 70vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color: #1F2937;
    padding: 1em;
}

ul {
    display: flex;
    gap: 10px;
    list-style-type: none;
}

a,h1 {
    text-decoration: none;
    color: white;
}
/* Hero text styling */


.home {
    padding: 5em;
    background-color: #1F2937;
    color: white;
}

.contain-home {
    background-color: #1F2937;
    width: 70vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.contain-home img {
    width: 35vw;
    object-fit: cover;
}

.top {
    width: 35vw;
}

.btn {
    background-color: rgb(8, 133, 236);
    color: #fff;
    padding: 5px 10px;
    width: 100px;
    border-radius: 5px;
    margin: 10px 0;
    border: none;
    transition: 0.5s;
}

.btn:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* middle area -Work */
.About-Me {
    padding: 5em;
}

.container {
    display: flex;
    justify-content: center;
    gap: 5em;
}

.About-Me h2 {
    text-align: center;
    margin-bottom: 1em;
}

.pic {
    max-width: 200px;
    text-align: center;
    transition: 0.7s;
}

.pic:hover {
    transform: scale(1.1);
}
img {
    width: 200px;
    height: 200px;
}

/* Quote section */

.Quote {
    padding: 5em;
    background: #E5E7EB;
}

.Quote blockquote {
    font-style: light italic;
    font-size: 36px;
    color: #1F2937;
}

figure {
    width: 70vw;
    margin: 0 auto;
}

figcaption {
    font-weight: bold;
    text-align: right;
    margin-top: 1em;
}

/* call to action */
.btn-2 {
    background-color: #fff;
    padding: 5em;
}

.call-to{
    background-color: rgb(8, 133, 236);
    color: #fff;
    width: 70vw;
    padding: 1em 0em;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.call-to h2 {
    font-weight: bold;
}

.btn-3 {
    width: 100px;
    padding: 5px 10px;
    background-color: rgb(8, 133, 236);
    color: #fff;
    border: 1px solid white;
    border-radius: 5px;
    transition: 0.5s;
}

.btn-3:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* Footer styling */
footer {
    color: #fff;
    background-color: #1F2937;
}

footer p {
    text-align: center;
    padding: 1em;
}