@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@200&family=Montserrat:ital,wght@1,200&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    font-family:'Alexandria', sans-serif;;
}
/* header styling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 1em;
}

ul {
    display: flex;
    gap: 10px;
    list-style-type: none;
}

a,h1 {
    text-decoration: none;
    color: white;
}
/* Hero text styling */

main{
    display: flex;
    flex-direction: column;
}

.home {
    padding: 5em;
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-between;
}

.top {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.top h2 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.top-img {
    object-fit: cover;
    width: 400px;
}

.btn {
    background-color: rgb(8, 133, 236);
    padding: 10px;
    width: 100px;
    border-radius: 5px;
    margin: 10px 0;
    border: none;
    transition: 0.5s;
}

.btn:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* middle area -Work */
.About-Me {
    padding: 5em;
}

.container {
    display: flex;
    justify-content: center;
    gap: 5em;
}

.About-Me h2 {
    text-align: center;
    margin-bottom: 1em;
}

.pic {
    max-width: 200px;
    text-align: center;
    transition: 0.7s;
}

.pic:hover {
    transform: scale(1.1);
}
img {
    width: 200px;
    height: 200px;
}

/* Quote section */

.Quote {
    padding: 5em;
    background: #E5E7EB;
}

.Quote blockquote {
    font-style: light italic;
    font-size: 36px;
    color: #1F2937;
}

figcaption {
    font-weight: bold;
    text-align: right;
    margin-top: 1em;
}

/* Footer styling */
footer {
    color: #fff;
    background-color: #1F2937;
}

footer p {
    text-align: center;
    padding: 1em;
}